.all-projects {
  width: 100%;
  /* height: auto; */
  /* background-color: whitesmoke; */
  margin: 1.5rem 0;
  overflow: hidden;
}

.projects {
  padding: 0 1rem;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project__card{
  width: 400px;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0 10px 10px -5px;
}

.card__img{
  padding: 30px;
  /* background-color: #ededed; */
}

.card__img img{
  object-fit: contain;
  width: 100%;
}

.card__data{
  padding: 20px 0;
  line-height: 35px;
  display: flex;
  justify-content: center;
}

.card__data .link{
  color: #111;
}

.link{
  font-size: 20px;
  font-weight: 700;
  margin: 0 10px;
}
