.all-projects {
  width: 100%;
  /* height: auto; */
  /* background-color: whitesmoke; */
  margin: 1.5rem 0;
  overflow: hidden;
}

.grid1{
  margin: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.grid1 > article{
  background-color: #eee5e9;
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  border-radius: 20px;
  text-align: center;
  width: 450px;
  transition: transform .3s;
}

.grid1 > article:hover{
  transform: translateY(5px);
  box-shadow: 2px 2px 26px 0px rgba(0, 0, 0, 0.3);
}

.grid1 > article img{
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.text{
  padding: 20px;
}



.pill-button {
  pointer-events: none;
  background-color: #EFF4FF;
  border: none;
  color: #6a4deb;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 13px;
  margin-left: -1px;
  margin-bottom: 10px;
  border-radius: 100px;
  font-size: 12px;
  text-transform: uppercase;
}

.proj-title h1{
  margin: 10px 0 0 0;
  color: #7151ff;
}

.text h3{
  text-transform: uppercase;
}

.pro-lnk{
  background-color: #6948ff;
  border-radius: 20px;
  border: none;
  color: #fff;
  padding: 6px 12px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 2px;
  font-size: 12px;
}

.pro-lnk:hover{
  background-color: #553bcb;
}

@media (max-width: 500px) {
  .grid1{
    margin: 20px auto;
  }

  .grid1 > article{
    text-align: center;
  }
}

@media (max-width: 300px) {

  .pro-lnk{
    display: block;
    margin-bottom: 10px;
    padding: 5px 8px;
    font-size: 12px;
  }
}
